$white:white;
$butter:#FFFFD2;
$mint:#C5FAD5;
$lightpurple:#AA96DA;
$forestgreen:#2C5F2D;
$mossgreen:rgb(187, 193, 179);
$lavender:#E6E6FA;
$mauve:#E0B0FF;
$violet:#EE82EE;
$orchid:#d383d0;
$tyrian:#66023C;

$dark:rgb(44,44,44);
$text1:"Poppins";
$text2: cursive;